@tailwind base;
@tailwind components;
@tailwind utilities;

#chapter {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#chapter .line {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#chapter .line .side {
  width: 50%;
  text-align: start;
  unicode-bidi: plaintext;
}
